.tabs-wrapper
  margin 10px 0 3px 0
  border-bottom 2px solid $dark-blue-lighter
  user-select none
  &.info
    border-color $info

.tabs
  display inline-block
  padding 5px 12px
  margin-right 3px
  width 90px
  text-align center
  cursor pointer
  color lighten($dark-blue, 15%)
  background-color lighten($dark-blue-lighter, 85%)
  transition color .5s
  border-radius 3px 3px 0 0
  transition .3s
  font-weight 600
  &:hover
    color lighten($dark-blue, 10%)
    background-color lighten($dark-blue-lighter, 65%)
  &.active
    color #FCFAF2
    background-color $dark-blue-lighter
  &--info
    background-color lighten($info, 85%)
    &:hover
      background-color lighten($info, 65%)
  &.active-info
    color #FCFAF2
    background-color $info

