$dark-blue = #0B1013
$dark-blue-lighter = lighten($dark-blue, 20%)
$light-gray = #91989F
$white = #FFFFFB
$primary = #005CAF
$info = darken(#81C7D4, 10%)
$danger = #CB4042
$success = #00896C
$warning = #EFBB24
$border-radius = 3px
$col-gutter = 5px
